#Django

*.log
*.pot

#Python

*.pyc
*.save

#Varables de entorno
environment.py

#Media
blender_server/media/
blender_server/tmp/


#blender
blender/blender-2.69/

#config_blender
blender/scripts/config.py
